<div class="champions-container">
  <h1>Campeões de League of Legends</h1>

  <!-- Lista de campeões -->
  <div class="champions-list">
    <div *ngFor="let champion of displayedChampions" class="champion-card" [ngClass]="{'flipped': selectedChampion && selectedChampion.id === champion.id}" (click)="selectChampion(champion.id)">
      <!-- Frente do card -->
       <div class="card-face card-front">
         <h2>{{ champion.name}} - {{champion.title}}</h2>
         <img
           [src]="'http://ddragon.leagueoflegends.com/cdn/img/champion/loading/' + champion.id + '_0.jpg'"
           alt="{{ champion.name }}"
           class="image-champions"
         />
       </div>
       <!-- Verso do card -->
       <div class="card-face card-back">
        <h2>{{ selectedChampion.name }}</h2>
        <p>{{ lore }}</p>
      </div>
    </div>
  </div>
  </div>

  <div>
    <button (click)="goToPreviousPage()" [disabled]="currentPage === 1">Página Anterior</button>
    <button (click)="goToNextPage()" [disabled]="currentPage * championsPerPage >= champions.length">Próxima página</button>
  </div>

